<h1> TEST ALL POSTS</h1>

<%= @posts.each do |t| %>
  <div class="blog_post">
    <div class="title_post"> <%= t.title %>      </div>
    <div class="post_body">  <%= t.post_body %>  </div>
    <%= link_to "READ MORE", post_path(t) %>
  </div>
<% end %>
