/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

*{
  font-family: 'Open Sans Condensed',Arial, cursive;
}

h1,h2{
  text-align: center;
}




header{
  position: relative;
  .social{
    position:relative;
    text-align: right;
  }
  .category{
    position: relative;
    text-align: center;
    padding-top: 33px;
    height: 90px;
  }
}

//start All posts
.blog_post{
  text-align:center;
  margin-bottom: 40px;
  .image{
    padding-top: 20px;
    padding-bottom: 20px;
    max-width:100%;
  }
  .title a{
  color:#141412;
  text-decoration: none;
  font-size: 28px;
  letter-spacing: 2px;
  font-weight: bold;
  }
  .time{
    color:#9A9A9A;
    letter-spacing: 1px;
    font: normal, 9px;
    padding-bottom: 20px;
  }
  .body{
    width: 60%;
    margin:0 auto 10px auto;
    line-height: 20px;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
  }
}
//end All posts

// start posts/index
.blog_post{
  .button{
    text-decoration: none;
    font-size: 25px;
    color:#343E34 ;
    border-bottom: ridge;
  }
}
//end    posts/index


//start category/:id
.category_name{
  text-align: center;
  cursor: pointer;
}
//end   category/:id


//start form posts edit/update
.simple_form{
  text-align: center;
}
//end   form posts edit/update
footer{
  position: relative;
  bottom: 0;
  height: 50px;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
