/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

*{
  font-family: 'Open Sans Condensed',Arial, cursive;
}

h1,h2{
  text-align: center;
}
//                                      start social-ico
.shareinst{
  background: url(social-icons-main.png) no-repeat -35px 0px ;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.sharevk1{
  background: url(social-icons-main.png) no-repeat -84px 0px;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.sharetw{
  background: url(social-icons-main.png) no-repeat 1px 0px;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.shareinst:hover{
  background: url(social-icons-main2.png) no-repeat -35px 0px ;
  background-color: #000;
  border-radius: 50%;

}
.sharevk1:hover{
  background: url(social-icons-main2.png) no-repeat -84px 0px;
  background-color: #000;
  border-radius: 50%;
}
.sharetw:hover{
  background: url(social-icons-main2.png) no-repeat 1px 0px;
  background-color: #000;
  border-radius: 50%;
}
//                                      end social ico

//                                      START HEADER
header{
  position: relative;
  min-height: 200px;
  width: 100%;
  border-bottom: solid;
  .social-main{
    position: relative;
    height: 30px;
    ul{
      position: absolute;
      top:0;
      right: 20px;
    }
    li{
      display: inline-block;
      a{
        display: block;
        width:40px;
        height: 40px;
         -webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
      }
    }
  }
  .category{
    position: relative;
    text-align: center;
    margin-top: 33px;
    height: 90px;
    li{
      padding-bottom: 15px;
      a{
        text-decoration: none;
        color:#000;
        font-weight: bold;
        font-size: 20px;
        padding: 10px;
        border-radius: 70%;
      }
    a:hover{
      color: #ffffcc;
      background-color: #262626;
      transition: all 0.6s ease-in-out;
    }
    }
  }
}
//                                      END HEADER
//start All posts
.blog_post{
  text-align:center;
  padding-bottom: 40px;
  border-bottom: solid;
  .image{
    padding-top: 20px;
    padding-bottom: 20px;
    max-width:100%;
  }
  .title a{
  color:#141412;
  text-decoration: none;
  font-size: 28px;
  letter-spacing: 2px;
  font-weight: bold;
  }
  .time{
    color:#9A9A9A;
    letter-spacing: 1px;
    font: normal, 9px;
    padding-bottom: 20px;
  }
  .body{
    width: 60%;
    margin:0 auto 10px auto;
    line-height: 20px;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
  }
}
//                                     end All posts

//                                      start posts/index
.blog_post{
  .button{
    text-decoration: none;
    font-size: 25px;
    color:#343E34 ;
    border-bottom: ridge;
  }
}
//                                     end    posts/index


//                                     start category/:id
.category_name{
  margin: 40px auto;
  letter-spacing: 3px;
}
.category{
  text-align: center;
  cursor: pointer;
  .image{
    max-width: 100%;
    height: 200px;
  }
  .hover_background{
    position: absolute;
    top:0;
    width: 92%;
    height:200px;
    padding: 0;
    display: block;
    .hover_link{
      padding-top:25%;
      display: none;
      a{
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 18px;
        font-weight: 600;
        display: inline-block;
        color:black;
        text-decoration: none;
      }
    }
  }
  .hover_background:hover{
    background-color: white;
    opacity: 0.7;
    display: block;
    .hover_link{
      display: block;
    }
  }
}

.category_blank{
  font-size: 20px;
  text-align: center;
}

.category_c{
  padding-left: 0;
}
//                                     end   category/:id


//                                     start form posts edit/update
.simple_form{
  text-align: center;
}
//                                     end   form posts edit/update


//                                     START FOOTER
footer{
  position: relative;
  bottom: 0;
  height: 50px;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
}
//                                     END FOOTER
