/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

*{
  font-family: 'Open Sans Condensed',Arial, cursive;
}

body{
  background-color:#f8f8f8;
}

h1,h2{
  text-align: center;
}
//                                      start social-ico
.shareinst{
  background: url(social-icons-main.png) no-repeat -35px 0px ;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.sharevk1{
  background: url(social-icons-main.png) no-repeat -84px 0px;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.sharetw{
  background: url(social-icons-main.png) no-repeat 1px 0px;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.shareinst:hover{
  background: url(social-icons-main2.png) no-repeat -35px 0px ;
  background-color: #000;
  border-radius: 50%;

}
.sharevk1:hover{
  background: url(social-icons-main2.png) no-repeat -84px 0px;
  background-color: #000;
  border-radius: 50%;
}
.sharetw:hover{
  background: url(social-icons-main2.png) no-repeat 1px 0px;
  background-color: #000;
  border-radius: 50%;
}

  .social-main{
    margin-top: 30px;
    position: relative;
    height: 30px;
    ul{
      position: absolute;
      padding-left: 45%;
    }
    li{
      display: inline-block;
      a{
        display: block;
        width:40px;
        height: 40px;
         -webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
      }
    }
  }
//                                      end social ico

//                                      START HEADER
header{
  position: relative;
  min-height: 200px;
  width: 100%;
  border-bottom: solid;
  .social-main{
    position: relative;
    height: 30px;
    margin-top: 5px;
    ul{
      position: absolute;
      top:0;
      right: 20px;
    }
    li{
      display: inline-block;
      a{
        display: block;
        width:40px;
        height: 40px;
         -webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
      }
    }
  }
  .category{
    position: relative;
    text-align: center;
    margin-top: 33px;
    height: 90px;
    .category_s{
      padding-bottom: 15px;
      a{
        text-decoration: none;
        color:#000;
        font-weight: bold;
        font-size: 20px;
        padding: 10px;
      }
    a:hover{
      border-bottom: solid;
      transition: all 0.6s ease-in-out;
    }
    }
  }
}
//                                      END HEADER
//start All posts
.blog_post{
  text-align:center;
  padding-bottom: 40px;
  border-bottom: solid;
  .image{
    padding-top: 20px;
    padding-bottom: 20px;
    max-width:100%;
  }
  .title a{
  color:#141412;
  text-decoration: none;
  font-size: 28px;
  letter-spacing: 2px;
  font-weight: bold;
  }
  .time{
    color:#9A9A9A;
    letter-spacing: 1px;
    font: normal, 9px;
    padding-bottom: 20px;
  }
  .body{
    width: 60%;
    margin:0 auto 10px auto;
    line-height: 20px;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
  }
}
//                                     end All posts

//                                      start posts/index
.blog_post{
  .button{
    text-decoration: none;
    font-size: 25px;
    color:#343E34 ;
    border-bottom: ridge;
  }
}
//                                     end    posts/index
//                                     start post/:id
.post_comments{
  letter-spacing: 2px;
  margin-bottom: 100px;
  h2{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }
  .comment{
    border-bottom:1px solid #6B5B4C;
    width: 80%;
    margin: 0 auto;
    .name{
      text-align: left;
      padding:5px 0 15px 15px;
      font-weight: 600;
      font-size: 15px;
      .data{
        color: #adadad;
        padding-left: 10px;
        font-size: 13px;
      }
    }
  }
  .create_comment{
    width: 70%;
    margin: 20px auto;
    h2{
      padding: 20px;
    }
    .new_comment{
      width: 70%;
      margin: 0 auto;
    }
  }
}
//                                     end post/:id

//                                     start category/:id
.category_name{
  margin: 40px auto;
  letter-spacing: 3px;
}
.category_1{
  margin-top: 30px;
}

.category{
  text-align: center;
  cursor: pointer;
  .image{
    max-width: 100%;
    height: 200px;
  }
  .hover_background{
    position: absolute;
    top:0;
    width: 96%;
    height:200px;
    padding: 0;
    display: block;
    .hover_link{
      padding-top:25%;
      display: none;
      a{
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 18px;
        font-weight: 800;
        display: inline-block;
        color:black;
        text-decoration: none;
      }
    }
  }
  .hover_background:hover{
    background-color: white;
    opacity: 0.7;
    display: block;
    .hover_link{
      display: block;
    }
  }
}

.category_blank{
  font-size: 20px;
  text-align: center;
}

.category_c{
  padding-left: 0;
}
//                                     end   category/:id


//                                     start form posts edit/update
.simple_form{
  text-align: center;
}
//                                     end   form posts edit/update


//                                     START FOOTER
footer{
  border-top: solid;
  position: relative;
  bottom: 0;
  height: 100px;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  p{
    padding-top: 35px;
    padding-bottom: 35px;
  }
}
//                                     END FOOTER

/*START back to top*/
#scrollup{
  position: fixed;
  padding: 15px 10px 10px;
  background: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  right: 10px;
  bottom: 10px;
  display: none;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  a{
    color: #000;
    font-weight: bold;
    letter-spacing: 4px;
    text-decoration: none;
    padding: 15px 10px 10px;
  }
}
#scrollup:hover{
  background-color: rgba(135, 135, 135, 0.50);
}
/*END back to top*/
