<header  id="top">
  <div class="social-main">
    <ul>
      <li><a class="sharetw" href="#"></a> </li>
      <li><a class="sharevk1" href="#"></a> </li>
      <li><a class="shareinst" href="#"></a> </li>
    </ul>
  </div>

    <div class="col-md-4 category">
      <ul class="list-unstyled">
        <% header_block_1.each do |t|  %>
        <li> <%= link_to t.category_name, category_path(t) %> </li>
        <% end %>
      </ul>
     </div>

    <div class="col-md-4 category"> <%= link_to "Ely blog LOGO", root_path %> </div>

    <div class="col-md-4 category">
      <ul class="list-unstyled">
        <% header_block_2.each do |t|  %>
        <li> <%= link_to t.category_name, category_path(t) %></li>
        <% end %>
      </ul>
    </div>

</header>
