  <div class="social-main">
    <ul>
      <li><a class="sharetw" href="#"></a> </li>
      <li><a class="sharevk1" href="#"></a> </li>
      <li><a class="shareinst" href="#"></a> </li>
    </ul>
  </div>
